TestApp Login System/Service References/SingleSignOnService/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SSOService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SSOService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="AuthenticatingUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthenticatingUser" nillable="true" type="tns:AuthenticatingUser" />
  <xs:complexType name="AuthenticatedUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Groups" nillable="true" type="tns:ArrayOfLdapUserGroup" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthenticatedUser" nillable="true" type="tns:AuthenticatedUser" />
  <xs:complexType name="ArrayOfLdapUserGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LdapUserGroup" nillable="true" type="tns:LdapUserGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLdapUserGroup" nillable="true" type="tns:ArrayOfLdapUserGroup" />
  <xs:complexType name="LdapUserGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LdapUserGroup" nillable="true" type="tns:LdapUserGroup" />
</xs:schema>